<div class="row">
    <div class="col-12">
        <img src="" alt="" class="image-responsive">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Recipe Name</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a class="dropdown-link" href="#">Add to Shopping List</a></li>
                <li class="dropdown-item"><a class="dropdown-link" href="#">Edit Recipe</a></li>
                <li class="dropdown-item"><a class="dropdown-link" href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-12">
        Ingredients
    </div>
</div>